# Example usage

To use `wrangle_in_py` in a project:

In [1]:
import wrangle_in_py

print(wrangle_in_py.__version__)

0.1.0

In [14]:
data_dict = {
    "Shift Time": [
        "2025-01-01 09:00:00", "2025-01-01 17:00:00", "2025-01-04 01:00:00", 
        "2025-01-02 09:00:00", "2025-01-02 17:00:00", "2025-01-03 01:00:00", 
        "2025-01-05 09:00:00", "2025-01-03 17:00:00", "2025-01-04 01:00:00", 
        "2025-01-04 09:00:00", "2025-01-04 17:00:00", "2025-01-05 01:00:00", 
        "2025-01-05 09:00:00", "2025-01-05 17:00:00", "2025-01-06 01:00:00",
        "2025-01-06 01:00:00", "2025-01-06 01:00:00", "2025-01-06 01:00:00"
    ],
    "Employee ID": [101, 102, 103, 104, 105, 106, 107, 102, 103, 108, 109, 110, 101, 111, 112, 112, 112, 112],
    "Shop ID": [1] * 18,
    "Task Assigned": [
        "Inventory", "Cashier", None, "Cleaning", "Cashier", "Stocking", 
        "Inventory", None, "Cleaning", "Cashier", "Stocking", "Inventory", 
        "Cashier", None, "Cleaning", "Cleaning", "Cleaning", "Cleaning"
    ]
}

import pandas as pd

# Convert the dictionary into a pandas DataFrame
df_from_dict = pd.DataFrame(data_dict)

# Ensure the "Shift Time" column is parsed as datetime
df_from_dict["Shift Time"] = pd.to_datetime(df_from_dict["Shift Time"])

# Introduction

intro continued...

In [3]:
# load data in

# rename columns

explain..

set-up

In [4]:
#code

In [5]:
# more code

In [6]:
# more code

conclusion

# function 2 - Remove duplicates

introduction...

more info

In [7]:
# code

In [8]:
# more code

conclusion..

# function 3 - remove column based on threshold, / low coefficient of variance

introduction info..

more info

In [9]:
# code

In [10]:
# more code

conclusion

## Separating the datetime column into different parts

The `extracting_ymd` and `extracting_hms` function users to create three more columns (`extracting_ymd` creates year, month, and day, whereas `extracting_hms` creates hour, minute, and second respectively) from the specified datetime column. There are two compulsory arguments. The first argument, `df`, corresponds to the dataframe containing the datetime column. The second argument is `column` indicating the name of datetime column being extracted. The output returns a copy of the input DataFrame with three new columns.

### Extracting year, month, day
To start with, the dataframe `df_from_dict` is inputted and `Shift Time` is the datetime column to be extracted.

In [20]:
from wrangle_in_py.extracting_ymd_hms import extracting_ymd

resulting_data = extracting_ymd(df_from_dict, "Shift Time")

resulting_data.head()

,Shift Time,Employee ID,Shop ID,Task Assigned,Shift Time_year,Shift Time_month,Shift Time_day
0,2025-01-01 09:00:00,101,1,Inventory,2025,1,1
1,2025-01-01 17:00:00,102,1,Cashier,2025,1,1
2,2025-01-04 01:00:00,103,1,None,2025,1,4
3,2025-01-02 09:00:00,104,1,Cleaning,2025,1,2
4,2025-01-02 17:00:00,105,1,Cashier,2025,1,2

The `Shift Time` is extracted and three columns, `Shift Time_year`, `Shift Time_month`, and `Shift Time_day` are added.

### Extracting hour, minute, second
After that, the dataframe `resulting_data` is being further processed and `Shift Time` is the datetime column to be extracted again.

In [21]:
from wrangle_in_py.extracting_ymd_hms import extracting_hms

resulting_data = extracting_hms(resulting_data, "Shift Time")

resulting_data.head()

,Shift Time,Employee ID,Shop ID,Task Assigned,Shift Time_year,Shift Time_month,Shift Time_day,Shift Time_hour,Shift Time_minute,Shift Time_second
0,2025-01-01 09:00:00,101,1,Inventory,2025,1,1,9,0,0
1,2025-01-01 17:00:00,102,1,Cashier,2025,1,1,17,0,0
2,2025-01-04 01:00:00,103,1,None,2025,1,4,1,0,0
3,2025-01-02 09:00:00,104,1,Cleaning,2025,1,2,9,0,0
4,2025-01-02 17:00:00,105,1,Cashier,2025,1,2,17,0,0

The `Shift Time` is further extracted and three columns, `Shift Time_hour`, `Shift Time_minute`, and `Shift Time_second` are added.

general summary

overall conclusion of full example